 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1725&q=80)">
      <div class="container">
        <h1>Welcome to <strong>crazy cocktails</strong></h1>
        <p>Here is a small app to find or create the cocktail of your dreams.</p>
        <%= link_to 'Add a new cocktail', new_cocktail_path, class:"btn-banner"%>
      </div>
    </div>

<div class="container">
  <ul class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <% else %>
          <li class="card-category">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
