// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ingredients-details {
  border: 1px solid #90A8B8;
  padding: 15px 35px;
  border-radius: 4px;
}

.ingredients-details li {
  list-style-type: none;
}

.ingredient-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
